<div class="col-md-12">
    <h2>{{title}}</h2>

    <div class="alert alert-danger" *ngIf="status == 'error'">
        Login incorrecto
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
   
        <p>
            <label for="email">Email</label> 
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
        </p>
   
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">La password es obligatoria</span>
        </p>

        <input type="submit" value="Logearse" class="btn btn-primary" [disabled]="!loginForm.form.valid"/>
    </form>
</div>
