<div class="col-md-12">
    <h2>{{title}}</h2>     
</div>
<form #incidenciaFechaForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group mb-2">
        <label for="desde">Desde</label>
        <input type="date" name="desde" #desde="ngModel" [(ngModel)]="incidencia.desde" class="form-control" required />
    </div>
    <div class="form-group mx-sm-3 mb-2">
           
        <label for="hasta">Hasta</label>
        <input type="date" name="hasta" #hasta="ngModel" [(ngModel)]="incidencia.hasta" class="form-control" required />     
    </div>
    <input id="botonFecha" type="submit" value="Buscar" class="btn btn-primary"/>
    <span id="msjError" *ngIf="incidencias != null && incidencias.length == 0">No hay ninguna incidencia entre las fechas seleccionadas</span>
  </form>

  <div class="col-md-12">
    <table class="table table-hover table-stripped" id="incidencias-list">
        <tr>
            <th>Nombre reportador</th>
            <th>Apellidos reportador</th>
            <th>Fecha reportada</th>
            <th>Descripci&#243;n</th>
        </tr>
        <tr *ngFor="let incidencia of incidencias">
            <td>
                {{incidencia.user.name}}
            </td>
            <td>
                {{incidencia.user.surname}}
            </td>
            <td>
                {{incidencia.created_at | date:'yyyy-MM-dd'}}
            </td>
            <td>
                {{incidencia.description}}
            </td>
        </tr>
    </table>
</div>

