label{
    margin-left:22px ;
    margin-right: 22px;
    margin-top: 22px;
}
input{
    margin-top: 22px;
}
#botonFecha{
    margin-bottom: 10px;
}
#msjError{
    margin-left: 30px;
    color: red;
    font-weight: bold;

}