<div class="col-md-12">
    <h2>{{title}}</h2>     
</div>
<form #incidenciaNombreForm="ngForm" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group mb-2">
        <label for="name">Nombre</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
    </div>
    <input id="botonFecha" type="submit" value="Buscar" class="btn btn-primary"/>
    <span id="msjError" *ngIf="incidencias != null && incidencias.length == 0">No hay ninguna incidencia del usuario buscado</span>
  </form>

  <div class="col-md-12">
    <table class="table table-hover table-stripped" id="incidencias-list">
        <tr>
            <th>Nombre reportador</th>
            <th>Apellidos reportador</th>
            <th>Fecha reportada</th>
            <th>Descripci&#243;n</th>
        </tr>
        <tr *ngFor="let incidencia of incidencias">
            <td>
                {{incidencia[0].user.name}}
            </td>
            <td>
                {{incidencia[0].user.surname}}
            </td>
            <td>
                {{incidencia[0].created_at | date:'yyyy-MM-dd'}}
            </td>
            <td>
                {{incidencia[0].description}}
            </td>
        </tr>
    </table>
</div>

